<div id='footer' class='wrapper'>
  <p>
  <%= link_to 'Report an Issue',
    'https://www.sparkroad.com/feedback', 
    :target => "blank" -%>
  </p>
</div>

<div id='clouds'></div>

<div id='ground'>
  <div id='grass'></div>
</div>
